@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

.container-story-details {
    text-align: center;
    color: whitesmoke;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container-story-details-title {
    margin-top: .4em;
    font-size: 4em;
    color: #61dbff;
    padding: 0 4em;
}

.container-story-details-published {
    font-size: 1.4em;
}

.container-story-details-content {
    padding: 0 4em;
    margin: 2em 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: pink;
    font-weight: 500;
}