@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-header-stories {
    text-align: center;
}

.container-header-stories-title {
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 1em 0;
}

.container-header-stories input {
    background: #333333;
    font-size: 1.2em;
    color: whitesmoke;
    width: 30%;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid whitesmoke;
    border-radius: 18px;
}

.container-header-stories input:focus {
    outline: 2px solid whitesmoke;
}

.container-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    margin-left: 7.8vw;
    width: 90%;
    color: #333333;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}