@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-my-stories {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.container-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    width: 50%;
    color: #333333;
}

.container-stories-title {
    font-size: 2em;
    color: whitesmoke;
    text-align: center;
    margin: 1em 0;
}