@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Montserrat&family=Lato&display=swap');

.container-home-intro {
    text-align: center;
    padding: 1em;
}

.container-home-intro-title {
    width: 37%;
    background-color: whitesmoke;
    margin: 1em auto 0 auto;
    position: relative;
    padding: .5em;
}

.container-home-intro-title-text {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2.8em;
}

.container-home-intro-title-text::before {
    content: "";
    background: inherit;
    position: absolute;
    width: 103%;
    height: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 100px rgb(255 255 255 / 30%);
    filter: blur(10px);
}

.container-home-intro-subtitle {
    width: 76%;
    margin: 1em auto 1.5em auto;
    padding: 10px;
    background-color: #313131;
}

.container-home-intro-subtitle-text,
.latest-stories {
    color: whitesmoke;
    font-size: 2.6em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.container-home-intro-subtitle-text {
    font-weight: 100;
}

.container-home-intro-description {
    padding: 0 2em;
}

.container-home-intro-description-title {
    /* color: whitesmoke; */
    color: #1aeaff;
    font-size: 2.6em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    border-bottom: 8px solid whitesmoke;
    display: inline-block;
}

.container-home-intro-description-subtitle {
    color: whitesmoke;
    font-size: 1.6em;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 1em 0;
    color:peachpuff;
}

.latest-stories {
    margin-top: 1em;
    margin-bottom: .5em;
}

.container-stories-home {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    background: rgba(255,255,255,0.1);
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: 0 0 60px 1px rgb(0 0 0 / 50%);
}

.highlight-blue {
    color: #40a9ff;
}

.highlight-green {
    color: #2fffc5;
}

.highlight-purple {
    color: #ff3686;
}

.no-stories {
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* arrow */

.container-wrapper {
    margin-left: 2em;
}

.wrapper  svg {
    width: 100px;
    height: auto;
    cursor: pointer;
    overflow: visible;
}
.wrapper polygon, path {
    transition: all 0.5s cubic-bezier(.2,1,.3,1);
}
.wrapper:hover polygon, .wrapper:hover path {
    transition: all 1s cubic-bezier(.2,1,.3,1);
    fill: whitesmoke;
}
.wrapper:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
.wrapper:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}

@keyframes arrow-anim {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	5% {
		transform: translateX(-0.1rem);
	}
	100% {
		transform: translateX(1rem);
		opacity: 0;
	}
}

@keyframes arrow-fixed-anim {
	5% {
		opacity: 0;
	}
	20% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}