@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-footer {
    text-align: center;
    padding: .5em;
    background-color: #373737;
}

.container-footer-logo-text {
    font-family: 'Pacifico', cursive;
}

.container-footer p a,
.container-footer p a:hover {
    transition: .4s ease;
}

.container-footer p {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.container-footer p a {
    text-decoration: none;
    color: #7bd3f0;
}

.container-footer p a:hover {
    color: #8eb9ee;
}