@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-header {
    display: flex;
    align-items: center;
    background-color: #404040;
}

.container-header a {
    text-decoration: none;
    color: whitesmoke;
}

.container-header-logo {
    margin-left: 3em;
}

.container-header-logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}

.container-header > * {
    flex-grow: 1;
}

.container-header ul {
    display:  flex;
    align-items: center;
}
  
.container-header li {
    list-style-type: none;
    margin: 0 1em;
}

.container-header ul li a {
    font-family: 'Raleway', sans-serif;
}