@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-header {
    display: flex;
    align-items: center;
    background-color: inherit;
    justify-content: space-around;
    width: 94%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 50%);
    padding: 5px 0;
}

.container-header-logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: white;
    text-decoration: none;
}

.container-header ul {
    display:  flex;
    align-items: center;
}

.menu-regular-btn,
.menu-auth-btn {
    text-decoration: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 1.1em;
}

.menu-regular-btn {
    background-color: #ff005e;
    color: white;
}

.menu-regular-btn:hover {
    color: #333333;
}

.menu-auth-btn {
    background-color: rgb(74, 222, 255);
    color: #333333;
}

.menu-regular-btn,
.menu-regular-btn:hover,
.menu-auth-btn,
.menu-auth-btn:hover {
    transition: .4s;
}

.menu-regular-btn:hover,
.menu-auth-btn:hover {
    box-shadow: 0 0 10px 1px rgb(255 255 255 / 50%);
    background-color: white;
}

.active-link {
    text-decoration: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    box-shadow: 0 0 10px 1px rgb(255 255 255 / 50%);
    background-color: white;
    color: #333333;
}

.container-header > ul:nth-child(2) {
    justify-content: center;
}

.container-header > ul:nth-child(3) {
    justify-content: flex-end;
}
  
.container-header li {
    list-style-type: none;
    margin: 0 1em;
}