@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-header {
    display: flex;
    align-items: center;
    background-color: #373737;
    justify-content: space-evenly;
    width: 94%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 50%);
    padding: 5px 0;
}

.container-header-logo-text {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: white;
    text-decoration: none;
}

.container-header ul {
    display:  flex;
    align-items: center;
}

.container-header ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.container-header > ul:nth-child(2) {
    justify-content: center;
}

.container-header > ul:nth-child(3) {
    justify-content: flex-end;
}
  
.container-header li {
    list-style-type: none;
    margin: 0 1em;
}