.container-about {
    text-align: center;
    padding: 4em 15em;
}

.container-about-title {
    color: whitesmoke;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.container-about-subtitle {
    color: whitesmoke;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 1em 0;
}