@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-comment-card {
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 1em auto;
    padding: .6em;
    border: 2px solid whitesmoke;
    text-align: left;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    border-image-source: linear-gradient(to right, gold, red);
    border-image-slice: 1;
}

.container-comment-card-owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-comment-card-owner-text {
    font-size: .6em;
}

.container-comment-card-title {
    margin: .4em 0 .2em 0;
    font-weight: bolder;
    text-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
    color: #fff941;
}

.container-comment-card-comment {
    font-size: .8em;
}

.edit-button,
.delete-button {
    text-align: center;
    color: whitesmoke;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: .7em;
    border: 2px solid #333333;
    text-decoration: none;
    padding: 12px 30px;
    color: #333333;
    margin: 0 .2em;
}

.edit-button {
    background-color: #4bcfff;
}

.edit-button:hover {
    box-shadow: 0 0 20px 1px #4bcfff;
}

.delete-button {
    background-color: #ff3b3b;
}

.delete-button:hover {
    box-shadow: 0 0 20px 1px #ff3b3b;
}

.edit-button,
.edit-button:hover,
.delete-button,
.delete-button:hover {
    transition: .4s;
}