.container-footer {
    margin: auto 0 0 0;
    text-align: center;
    padding: 1em;
    background-color: #404040;
}

.container-footer-logo-text {
    background: -webkit-linear-gradient(0deg, #29adff, #12ffb4);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-footer p a,
.container-footer p a:hover {
    transition: .4s ease;
}