.container-auth {
    margin: auto;
}

.container-auth-form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.container-auth-form > fieldset > p {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-auth-form > fieldset > p > input {
    padding: 1em 2em;
}

.container-auth-form-submit {
    margin-top: 1em;
    background-color: #44f2e6;
    padding: 8px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}