.container-header {
    display: flex;
    align-items: center;
    background-color: #404040;
    justify-content: space-evenly;
    width: 94%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 50%);
}

.container-header-logo-text {
    background: -webkit-linear-gradient(0deg, #29adff, #12ffb4);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-header ul {
    display:  flex;
    align-items: center;
}

.container-header > ul:nth-child(2) {
    justify-content: center;
}

.container-header > ul:nth-child(3) {
    justify-content: flex-end;
}
  
.container-header li {
    list-style-type: none;
    margin: 0 1em;
}