@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.container-header a {
    text-decoration: none;
    color: whitesmoke;
}

.container-header-logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 200;
}

.container-header ul li a {
    font-family: 'Raleway', sans-serif;
}

.container-home-intro > h1 {
    color: whitesmoke;
    text-shadow: 2px 1px #505050;
    font-size: 3em;
    font-family: 'Prata', serif;
}

.container-stories {
    color: black;
    font-family: 'Raleway', sans-serif;
}

.container-footer p {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.container-footer-logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container-footer p a {
    text-decoration: none;
    color: #7bd3f0;
}

.container-footer p a:hover {
    color: #8eb9ee;
}

.container-auth-form {
    font-family: 'Raleway', sans-serif;
}

.container-auth-form-submit {
    font-size: 1.2em;
    color: white;
}