@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Montserrat&family=Raleway&display=swap');

.container-header a {
    text-decoration: none;
    color: whitesmoke;
}

.container-header-logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 200;
}

.container-header ul li a {
    font-family: 'Raleway', sans-serif;
}

.container-home-intro > h1 {
    color: #09ffbb;
    text-shadow: 1px 1px #505050;
    font-size: 3em;
    font-family: 'Prata', serif;
}

.container-home-intro > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 1em;
    color: white;
}

.container-stories {
    color: black;
    font-family: 'Raleway', sans-serif;
}

.container-story-wrapper {
    text-decoration: none;
}

.container-story-home-title {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    color: #303030;
    font-weight: bold;
}

.container-story-home-content {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.container-footer p {
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.container-footer-logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container-footer p a {
    text-decoration: none;
    color: #7bd3f0;
}

.container-footer p a:hover {
    color: #8eb9ee;
}

.container-standard-form {
    font-family: 'Raleway', sans-serif;
}

.container-standard-form > fieldset {
    color: white;;
}

.container-standard-form > fieldset > legend {
    color: #191919;
}

.container-standard-form-submit {
    font-size: 1.2em;
    color: #191919;
}