@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    width: 90%;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.no-stories {
    font-size: 4em;
    color: whitesmoke;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: auto;
}