@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;400&display=swap');

.container-home-story-wrapper {
    flex-basis: 27.8%;
}

.container-stories-story-wrapper {
    margin: 1em;
    width: 100%;
    flex-basis: 30%;
}

.container-home-story-wrapper,
.container-stories-story-wrapper {
    text-decoration: none;
    margin: 10px 8px;
}

.container-story-card {
    height: 22em;
    border-radius: 1em;
	border: 1px solid rgba(0,0,0, 0.5);
	text-shadow: 0 0 1em rgba(0,0,0, 0.5);
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0 20px;
    text-align: center;
    background: rgba(255,255,255,.4);
    mask-image: linear-gradient(180deg,#000 50%,transparent);
}

.container-story-card-title {
    text-align: center;
    margin: .5em 0;
    font-size: 2em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #303030;
    font-weight: bold;
}

.container-story-card-content {
    text-align: left;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
}